@import url('https://fonts.googleapis.com/css2?family=Anton&family=Frank+Ruhl+Libre:wght@400;700&family=Lora&family=Nunito:ital,wght@0,400;1,300&display=swap');

.bold {
  font-weight: 700;
}

// NOTE: This animation is here because it is too specific
@keyframes slide-left {
  0% {
    transform: rotate(-90deg) translate3d(30%, 0%, 0);
    opacity: 0;
  }

  100% {
    transform: rotate(-90deg) translate3d(30%, 100%, 0);
    opacity: 1;
  }
}

body {
  overscroll-behavior: none;
}

img {
  display: inline-block;
}

// Below is slider core style
.slider-container {
  overflow: hidden;
  overscroll-behavior: none;

  .slider-content {
    width: 100%;
    height: 100%;
    overscroll-behavior: none;

    & > * {
      display: inline-block;
      vertical-align: top;
      height: 100%;
    }

    .slider-section {
      width: 115vw;
      background-color: #fff;
      position: relative;
    }
  }
}

#articleContainer {
  height: 100%;
  font-family: 'Lora', sans-serif;
  @include line-height(24);

  .header-background-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .header-background {
      overflow: hidden;
      position: absolute;
      background-size: cover;
      height: 100vh;
      width: 100vw;
      top: 0;
      animation: kenburns 6s ease-out forwards;
      background-attachment: fixed;
    }
  }

  #articleContent {
    height: 100vh;

    .progress-bar-container {
      position: fixed;
      z-index: 2;
      top: $desktop-nav-height;
      width: 100%;
      background: transparent;
      transition: color 0.3s, background 0.5s;
      height: $sub-nav-title-height;
      display: flex;
      align-items: center;

      .progress-bar-text {
        opacity: 0;
        color: $white;
        font-family: 'Frank Ruhl Libre', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        @include font-size(16);
        transition: opacity 0.3s, background 0.3s;
      }

      &.light {
        background-color: $black;
        .progress-bar-text {
          opacity: 1;
        }
      }

      .progress-bar-fill {
        position: absolute;
        top: 0;
        background-color: $green;
        height: 3px;
      }
    }

    .tag-item {
      background-color: $green;
      padding: $spacing-basis * 0.75 $spacing-basis * 1.5;
      height: unset;
      position: absolute;
      left: 0;
      top: 50%;
      transform: rotate(-90deg) translate3d(30%, 100%, 0);
      transform-origin: 0% 100%;
      color: $white;
      font-family: 'Nunito', sans-serif;
      @include font-size(12);
      animation: slide-left 0.6s ease-out forwards;
    }

    .header-container {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      color: $white;
      background-color: transparent !important;
      position: relative;
      z-index: 2;

      .header-content {
        animation: slide-in 0.8s ease forwards;

        .article-title {
          width: 55%;
        }

        .aticle-sub-title {
          width: 50%;
          font-weight: 400;
        }

        .line {
          width: $spacing-basis * 10;
          height: 1px;
          background-color: $white;
          display: block;
        }

        .reading-time {
          font-family: 'Nunito', sans-serif;
          font-weight: 200;
          font-style: italic;
        }
      }

      .right-arrow-container {
        position: absolute;
        right: 20vw;
        bottom: 5vw;
        height: 60px;
        width: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .right-arrow {
          &::before {
            content: '';
            display: block;
            width: 16px;
            height: 2px;
            background-color: $white;
            transform-origin: calc(100% - 2px) 50%;
            transform: rotate(45deg);
          }

          &::after {
            content: '';
            display: block;
            width: 16px;
            height: 2px;
            background-color: $white;
            transform-origin: calc(100% - 2px) 50%;
            transform: rotate(-45deg);
          }
        }
      }
    }

    #lot-of-text {
      width: 115vw;
      background-color: $white;
      height: 100%;
      margin-top: $desktop-nav-height + $sub-nav-title-height;
      height: calc(100% - #{$desktop-nav-height + $sub-nav-title-height});
      display: inline-flex;
      flex-direction: column;

      .top-container {
        display: flex;
      }

      .bottom-container {
        display: flex;
        flex-grow: 1;

        .left-container {
          width: 75%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .text-image {
            display: flex;

            .text {
              width: 50%;
            }

            .image-container {
              width: 50%;
            }
          }

          .addon {
            display: flex;
            justify-content: center;

            .addon-image {
              width: 40%;
            }
          }
        }

        .right-container {
          width: 25%;
        }
      }
    }

    #crossed-images-left {
      position: relative;
      .text {
        width: 400px;
        background-color: $white;
        position: absolute;
        z-index: 1;
        right: -70px;
        top: 45%;
        font-style: italic;
      }
    }

    #crossed-images-right {
      width: 137vw;

      .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
      }

      .title-container {
        position: absolute;
        top: 22%;
        left: 140px;
        width: 650px;
        color: $white;
        font-family: 'Anton', sans-serif;
        @include font-size(60);
        @include line-height(65);

        .sub-title {
          color: transparent;
          -webkit-text-stroke: 1px white;
          text-shadow: none;
        }
      }

      .image {
        width: unset;
        height: 100%;
      }

      .text-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 500px;
        display: flex;
        align-items: center;

        .text {
          color: $white;
          width: 100%;
          background-color: rgba($black, 0.6);
        }
      }
    }

    #standalone-image {
      width: 140vw;
      .image {
        width: unset;
        height: 100%;
      }

      .content {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .bold {
          font-weight: 600;
        }

        .hashtag {
          display: inline-block;
          border: 1px solid $black;
          text-transform: uppercase;
          font-family: 'Nunito', sans-serif;
          font-weight: 600;
          padding: $spacing-basis * 1 $spacing-basis * 2;
          cursor: pointer;
          @include font-size(11);
        }

        .author-card {
          width: 50%;
          box-shadow: 0 3px 6px rgba(#000000, 0.29);
          display: flex;
          @include font-size(12);

          .author-name-container {
            font-style: italic;
          }

          .date {
            font-style: italic;
          }

          .image-container {
            .author-image {
              width: unset;
            }
          }

          .content {
            width: 75%;
            font-family: 'Nunito', sans-serif;

            .author-name {
              @include link-style($black);
              text-decoration: underline !important;
            }

            .follow-button-container {
              .follow-button {
                color: $green;
                cursor: pointer;
                padding-bottom: 3px;
                font-weight: 600;
                border-bottom: 2px solid $green;
                display: inline-block;
              }
            }
          }
        }
        .addon {
          display: flex;
          justify-content: center;

          .addon-image {
            width: 50%;
          }
        }
      }
    }

    #line-container {
      width: 2px;
      display: inline-flex;
      align-items: center;
      margin-top: $desktop-nav-height + $sub-nav-title-height;
      height: calc(100% - #{$desktop-nav-height + $sub-nav-title-height});
      background-color: $white;

      .line {
        height: 80%;
        width: 100%;
        background-color: $green;
      }
    }

    #more-articles {
      width: 80vw;
      background-color: $white;
      color: $black;
      display: inline-flex;
      align-items: center;
      margin-top: $desktop-nav-height + $sub-nav-title-height;
      height: calc(100% - #{$desktop-nav-height + $sub-nav-title-height});

      .main-title {
        font-family: 'Frank Ruhl Libre', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        @include font-size(20);
      }

      .cards-container {
        display: flex;
        justify-content: space-between;

        .article-card {
          width: 31%;

          .top-container {
            position: relative;

            .overlay {
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              background-color: rgba($black, 0.3);
            }

            .category {
              position: absolute;
              top: 0;
              right: 0;
              font-family: 'Nunito', sans-serif;
              color: $white;
              background-color: $green;
              padding: $spacing-basis * 0.75 $spacing-basis * 1.5;
              transform: rotate(90deg) translate3d(100%, 0%, 0);
              transform-origin: 100% 0;
            }

            .title {
              position: absolute;
              bottom: 0;
              font-family: 'Frank Ruhl Libre', sans-serif;
              @include font-size(20);
              font-weight: 700;
              color: $white;
            }
          }

          .bottom-container {
            .description {
            }

            .read-more {
              font-family: 'Nunito', sans-serif;
              color: $green;
              padding-bottom: 2px;
              font-weight: 600;
              border-bottom: 2px solid $green;
              color: $green;
              display: inline-block;
              vertical-align: middle;
              cursor: pointer;

              &:hover {
                .right-arrow {
                  transform: translateX(5px);
                }
              }

              .right-arrow {
                display: inline-block;
                vertical-align: middle;
                padding-left: 2px;
                transition: transform 0.3s;

                &::before {
                  content: '';
                  display: block;
                  width: 8px;
                  height: 2px;
                  background-color: $green;
                  transform-origin: calc(100% - 2px) 50%;
                  transform: rotate(45deg);
                }

                &::after {
                  content: '';
                  display: block;
                  width: 8px;
                  height: 2px;
                  background-color: $green;
                  transform-origin: calc(100% - 2px) 50%;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
      }
    }

    #newsletter {
      width: 350px;
      background: url('http://localhost:8080/images/newsletter/background.png');
      position: relative;

      .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($green, 0.8);
      }

      .content {
        position: relative;
        z-index: 2;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Nunito', sans-serif;
        @include font-size(14);
        @include line-height(18);

        .top-container {
          display: flex;
          align-items: center;

          .line {
            width: 20%;
            height: 1px;
            background-color: $white;
          }

          .title {
            text-transform: uppercase;
            @include font-size(20);
            @include line-height(24);
          }
        }

        .description-container {
          .description {
          }
        }

        .bottom-container {
          display: flex;

          $input-width: 30px;

          .input {
            height: $input-width;
            width: $input-width;
            background: rgba($white, 0.3);
            border: 1px solid $white;
            cursor: pointer;
          }
          .links {
            width: calc(100% - #{$input-width});
            @include font-size(11);

            .underline {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }

        .button-container {
          display: flex;
          justify-content: center;

          .button {
            border: 1px solid $white;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background-color: $green;
              // border-color: $green;
            }
          }
        }
      }
    }

    .article-content {
      background-color: $white;
      display: inline-flex;
      align-items: center;
      margin-top: $desktop-nav-height + $sub-nav-title-height;
      height: calc(100% - #{$desktop-nav-height + $sub-nav-title-height});
    }
  }
}
