<div id="articleContainer">
  <Navigation />
  <div id="articleContent" class="slider-container">
    <div class="slider-content" :style="`width: ${sliderWidth}px;transform: translate3d(${sliderTranslation}px, 0, 0)`">
      <section class="slider-section header-container">
        <img class="header-background" :src="`${article.bgUrl}`" />
        <div class="pl-8 header-content">
          <div class="pb-4 tags-container">
            <div v-for="tag in article.tags" class="tag-item">{{tag}}</div>
          </div>
          <h1 class="article-title">{{article.title}}</h1>
          <span class="line"></span>
          <div class="author">Par {{article.author}} - Publié le {{article.publicationDate | moment('DD/MM/YYYY')}} à {{article.publicationDate | moment('HH:mm')}}</div>
        </div>

        <div class="bottom-addon">
          <img class="bottom-addon-img" src="/images/addons/ikea.png" />
        </div>
      </section>
      <section class="slider-section">
        ss
      </section>
      <section class="slider-section">
        aa
      </section>
      <section class="slid">
        CC
      </section>
    </div>
  </div>
</div>
