// Colors
$black: #000;
$white: #fff;
$green: #85bc32;

$red: #f74b55;

// Globals
$nav-height: 80px;

$spacing-basis: 7px;

$smarphone-width: 767px;
$tablet-width: 768px;
$desktop-width: 992px;

$minimumFontSize: 16;
$default-text-color: $black;

$default-border-radius: 10px;

$desktop-nav-height: 60px;

$sub-nav-title-height: $spacing-basis * 7;
