#navigationContainer {
  position: fixed;
  width: 100%;
  height: $desktop-nav-height;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .left-container {
    .home-link {
      @include no-link-style;
    }
  }
  .right-container {
    a {
      @include no-link-style;
    }
  }
}
