#navigationContainer {
  position: fixed;
  width: 100%;
  height: $desktop-nav-height;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  color: $white;
  transition: color 0.3s, background 0.5s;

  &.light {
    background: $white;
    color: $black;
    box-shadow: 1px 4px 7px -2px rgba(0, 0, 0, 0.3);
  }

  .left-container {
    .home-link {
      @include no-link-style;
    }
  }
  .right-container {
    a {
      @include no-link-style;
    }
  }
}
